
@{
    ViewBag.Title = "RPG Character Creator??";
    
}

<h2>RPG Character Creator</h2>

<div>
    <div class="row" style="background-color:rgb(224, 224, 224)">
        <div style="padding-left: 10px;">
            <div>
                <p>Character Name: </p>
            </div>
            <div>
                <input id="nameTxtBox" type="text" />
            </div>
        </div>
        <div>
            <p></p>
        </div>
    </div>
    <div>
        <p></p>
    </div>
    <div class="col-md-2">
        <table>
            <tr>
                <td>
                    Strength
                </td>
                <td>
                    <input type="number" />
                </td>
            </tr>
            <tr>
                <td>
                    Constitution
                </td>
                <td>
                    <input type="number" />
                </td>
            </tr>
            <tr>
                <td>
                    Dexterity
                </td>
                <td>
                    <input type="number" />
                </td>
            </tr>
            <tr>
                <td>
                    Intelligence
                </td>
                <td>
                    <input type="number" />
                </td>
            </tr>
            <tr>
                <td>
                    Wisdom
                </td>
                <td>
                    <input type="number" />
                </td>
            </tr>
            <tr>
                <td>
                    Charisma
                </td>
                <td>
                    <input type="number" />
                </td>
            </tr>
            <tr>
                <td>
                    Luck
                </td>
                <td>
                    <input type="number" />
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-3">
            <div><img src="~/Media/CharacterCreatorFiles/ClassPhotos/ClassChar/Male/AdventurerMale.jpg" /></div>
        </div>
</div>

<div class="container">
    <div id="CharacterBio">
        <h3>Adventurer</h3>
        <p id="characterBioText">PLACE HOLDER TEXT</p>
    </div>
</div>
<div class="row" style="padding-left:10px;padding-bottom:10px">
    <p>
        Generate New Character
    </p>
    <p class="btn btn-primary" style="background-color:white; color:black">
        <!--//Html.ActionLink("Generate", "ListPeople", "CharacterCreator")-->
        <input type="button" value="Generate" onclick="SaveCharacter()" />
    </p>
    </div>

    @section Scripts {
        <script type="text/javascript">
            function SaveCharacter() {
                var characterName = $("#nameTxtBox").val();
                alert(characterName);
                $("#characterBioText").text(characterName);

                $.ajax({
                    type: "POST",
                    url: "demoApps/characterCreator",
                    data: JSON.stringify({ Name: characterName }),
                    contentType: "application/json",

                    success: function(result) {
                        $("#nameTxtBox").val(characterName) //take whatever element id you want to use and push the value to it
                    }
                })


            }
        </script>
    }
