
@{
    ViewBag.Title = "RPG Character Creator";
}

<h2>RPG Character Creator</h2>

<div>
    <div class="row" style="background-color:rgb(224, 224, 224)">
        <div style="padding-left: 10px;">
            <div>
                <p>Character Name: </p>
            </div>
            <div>
                <input type="text" />
            </div>
        </div>
        <div>
            <p></p>
        </div>
    </div>

    <div>
        <p></p>
    </div>

    <div class="col-md-2">
        <table>
            <tr>
                <td>
                    Strength
                </td>
                <td>
                    <input type="number" />
                </td>
            </tr>
            <tr>
                <td>
                    Constitution
                </td>
                <td>
                    <input type="number" />
                </td>
            </tr>
            <tr>
                <td>
                    Dexterity
                </td>
                <td>
                    <input type="number" />
                </td>
            </tr>
            <tr>
                <td>
                    Intelligence
                </td>
                <td>
                    <input type="number" />
                </td>
            </tr>
            <tr>
                <td>
                    Wisdom
                </td>
                <td>
                    <input type="number" />
                </td>
            </tr>
            <tr>
                <td>
                    Charisma
                </td>
                <td>
                    <input type="number" />
                </td>
            </tr>
            <tr>
                <td>
                    Luck
                </td>
                <td>
                    <input type="number" />
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-3">
            <div><img src="~/Media/CharacterCreatorFiles/ClassPhotos/ClassChar/Male/AdventurerMale.jpg" /></div>
        </div>
    </div>

<div class="container">
    <div id="CharacterBio">
        <div class="row">
            <h3>Adventurer</h3>
            <p>This is the bio</p>
        </div>
    </div>
</div>
