
@{
    ViewBag.Title = "RPG Character Creator";
}

<h2>RPG Character Creator</h2>

<div class="row" style="background-color:rgb(224, 224, 224)">
    <div style="padding-left: 10px;">
        <div>
            <p>Character Name: </p>
        </div>
        <div>
            <input type="text" />
        </div>
    </div>
    <div>
        <p></p>
    </div>
</div>

<div>
    <p></p>
</div>
<div class="container">
    <div class="col-md-1">
        <div class="row">
            <p>Strength</p>
            <p>Constitution</p>
            <p>Dexterity</p>
            <p>Intelligence</p>
            <p>Wisdom</p>
            <p>Charisma</p>
            <p>Luck</p>
        </div>
    </div>
    <div class="col-md-2">
        <input type="text" />
    </div>
    <div class="col-md-3">
        <div><img src="~/Media/CharacterCreatorFiles/ClassPhotos/ClassChar/Male/AdventurerMale.jpg" /></div>
    </div>
</div>
<div class="container">

</div>
