
@{
    ViewBag.Title = "DemoApps";
}

<h2 style="font-family:'Agency FB'">DemoApps</h2>

<div class="body-content">
    <div class="row" id="App1" style="background-color:rgb(224, 224, 224)">
        <div class="col-md-4">
            <h3>@Html.ActionLink("RPG Character Creator", "RPGCharacterCreator", "DemoApps")</h3>
            <p> description</p>
            <p><strong>Source: </strong><a href="https://github.com/AshetynW/RPG_Character_Creator" target="_blank">GitHub</a></p>
        </div>
    </div>
    <p></p>
    <div class="row" id="App2" style="background-color:rgb(224, 224, 224)">
        <div class="col-md-4">
            <h3>ML.Net 0.10 - Heart Disease Classification</h3>
            <p> description</p>
            <p><strong>Source: </strong><a href="https://github.com/AshetynW/ML.Net-0.10_Heart-Disease-Classification-Predictor" target="_blank">GitHub</a></p>
        </div>
    </div>
    <p></p>
    <div class="row" id="App3" style="background-color:rgb(224, 224, 224)">
        <div class="col-md-4">
            <h3>Random-Geometric-Polygons</h3>
            <p> description</p>
            <p><strong>Source: </strong><a href="https://github.com/AshetynW/Random-Geometric-Polygons" target="_blank">GitHub</a></p>
        </div>
    </div>
    <p></p>
    <div class="row" id="App3" style="background-color:rgb(224, 224, 224)">
        <div class="col-md-4">
            <h3>Emporium Studio ASP.Net - MVC (this app)</h3>
            <p> description</p>
            <p><strong>Source: </strong><a href="https://github.com/AshetynW/ASP.Net-MVC-Emporium-Studio-Showcase" target="_blank">GitHub</a></p>
        </div>
    </div>
</div>